{%extends 'navigation.html' %}
{% block body%}
<script>
    function reveal() {
        var x = document.getElementById("password");
        var y = document.getElementById("eye");
        if (x.type === "password") {
            x.type = "text";
            y.innerHTML = `<path d="M2 2L22 22" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M6.71277 6.7226C3.66479 8.79527 2 12 2 12C2 12 5.63636 19 12 19C14.0503 19 15.8174 18.2734 17.2711 17.2884M11 5.05822C11.3254 5.02013 11.6588 5 12 5C18.3636 5 22 12 22 12C22 12 21.3082 13.3317 20 14.8335" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M14 14.2362C13.4692 14.7112 12.7684 15.0001 12 15.0001C10.3431 15.0001 9 13.657 9 12.0001C9 11.1764 9.33193 10.4303 9.86932 9.88818" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>`;
        } else {
            x.type = "password";
            y.innerHTML = `<path d="M1 12C1 12 5 4 12 4C19 4 23 12 23 12" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M1 12C1 12 5 20 12 20C19 20 23 12 23 12" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <circle cx="12" cy="12" r="3" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>`;
        }
    }
</script>
<style>
    .heading {
        max-width: 700px;
        margin: 92px auto 0 auto;
        padding: 20px;
        text-align: center;
        font-family: "Radio Canada Big", sans-serif;
        font-size: 50px;
        font-weight: 700;
        color: var(--heading);
    }  
    .description {
        max-width: 700px;
        margin: -5px auto 0 auto;
        padding: 20px;
        text-align: center;
        font-family: "Montserrat", sans-serif;
        font-size: 18px;
        color: var(--description);
    }
    .inspiration {
        max-width: 700px;
        margin: -5px auto 0 auto;
        padding: 5px;
        text-align: center;
        font-family: "Montserrat", sans-serif;
        font-size: 15px;
        color: var(--description);
    }
    .inspiration a {
        text-decoration: none;
    }
    .form {
        max-width: 700px;
        margin: 17px auto 0 auto;
        padding: 20px;
        text-align: center;
        background-color: var(--formBg);
        backdrop-filter: blur(var(--formBlurAmount));
        border-radius: 10px;
        box-shadow: 0 12px 14px rgba(0, 0, 0, 0.2);
    }
    .form input[type=password] {
        background-color: var(--formBg);
        backdrop-filter: blur(var(--formBlurAmount));
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
    .form input[type=text] {
        background-color: var(--formBg);
        backdrop-filter: blur(var(--formBlurAmount));
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    #reveal {
        position: absolute;
        transform: translateY(20px) translateX(-40px);
        -webkit-transform: translateY(20px) translateX(-40px);
        -moz-transform: translateY(20px) translateX(-40px);
        -ms-transform: translateY(20px) translateX(-40px);
        -o-transform: translateY(20px) translateX(-40px);
    }
    .json-Data {
        max-width: 700px;
        margin: 30px auto 0 auto;
        padding: 20px 20px 0px 20px;
        background-color: var(--outputBg);
        backdrop-filter: blur(10px);
        border-radius: 10px;
        box-shadow: 0 12px 14px rgba(0, 0, 0, 0.2);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    #jsonDataDisplay {
        color: var(--outputText);
        font-family: "Montserrat", sans-serif;
        font-size: 20px;
        font-weight: 400;
        margin-right: 10px;
        flex-direction: row;
    }
    #jsonDataDisplay #caution {
        color: red;
    }
    .submit-btn {
        position: relative;
        margin: auto;
        padding: 12px 18px;
        transition: all 0.2s ease;
        border: none;
        background: none;
        cursor: pointer;
    }
    .submit-btn:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        border-radius: 50px;
        background: var(--submitButtonBg);
        width: 45px;
        height: 45px;
        transition: all 0.3s ease;
    }
    .submit-btn span {
        position: relative;
        font-family: "Ubuntu", sans-serif;
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 0.05em;
        color: var(--submitButtonText);
    }
    .submit-btn svg {
        position: relative;
        top: 0;
        margin-left: 10px;
        fill: none;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke: var(--submitButtonArrow);
        stroke-width: 2;
        transform: translateX(-5px);
        transition: all 0.3s ease;
    }
    .submit-btn:hover:before {
        width: 100%;
        background: var(--submitButtonBg);
    }
    
    .submit-btn:hover svg {
        transform: translateX(0);
    }
    
    .submit-btn:active {
        transform: scale(0.95);
    }
</style>
<h1 class="heading">Is Your Password Safe?</h1>
<p class="description">Make sure your password has not been leaked yet.</p>
<p class="inspiration">This Tool is inspired from <a href="https://haveibeenpwned.com/Passwords">';-- have i been pawned?</a><br>And is privacy focused so you don't need a account to check. And it is Ad-free</p>
<div class="form-container">
    <div class="form">
        <form method="POST">
            <input type="password" id="password" name="password" placeholder="***********" required
                style="font-size: 25px;">
            <span id="reveal" onclick="reveal()"><svg id="eye" width="30px" height="30px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 12C1 12 5 4 12 4C19 4 23 12 23 12" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M1 12C1 12 5 20 12 20C19 20 23 12 23 12" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <circle cx="12" cy="12" r="3" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg></span>
            <br>
            <button type="submit" class="submit-btn">
                <span id="submit">Scan</span>
                <svg width="15px" height="10px" viewBox="0 0 13 10">
                    <path d="M1,5 L11,5"></path>
                    <polyline points="8 1 12 5 8 9"></polyline>
                </svg>
            </button>
        </form>
    </div>
    <div class="json-Data">
        <p id="jsonDataDisplay"></p>
    </div>
</div>
<script src="{{url_for('static',filename='js/pass_api_fetch.js')}}"></script>
{% include 'footer.html' %}
</body>
</html>
{% endblock %}